html, body{
    width:99%;
    height: 100%;
    max-height: 100%;
}
.main-block{
    position: relative;
    background-color: rgb(237, 237, 237);
    width: 100%;
    height: 100%;
    max-height: 100%; 
}
.first-block{
    position: relative;
    height: 40px;
    width: 100%;
    background-color: rgb(237, 237, 237);
}
.cal-name{
    padding-top: 5px;
    padding-left: 10px;
    cursor: default;
    display: inline-block; 
    height: 10px;
    width:30%;
    float:left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    background-color: rgb(237, 237, 237);
}
.close-min-max-icons{
    cursor: default;
    float:right;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    height: 27px;
    width: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-align: center;
    background-color: rgb(237, 237, 237);
}
.close-min-max-icons:hover{
    background-color: rgb(218, 218, 218);
}
.close-min-max-icons:active{
    background-color: rgb(202, 202, 202);
}
#close-button:hover{
    background-color: rgb(232, 17, 35);
}
#close-button:active{
    background-color: rgb(241, 112, 122);
    color: azure;
}
.second-block{
    position: relative;
    height:35px;
    width: 100%;
    background-color: rgb(237, 237, 237);
}
.menu-icon{
    cursor: default;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgb(237, 237, 237);
}
.menu-icon:hover{
    background-color: rgb(218, 218, 218);
}
.menu-icon:active{
    background-color: rgb(202, 202, 202);
}
.standard-sign{
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    float:left;
    background-color: rgb(237, 237, 237);
}
.empty-span-just-for-width{
    display:none;
}
.keep-on-top{
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 35px;
    width: 35px;
    float:left;
    background-color: rgb(237, 237, 237); 
    text-align: center;
}
.keep-on-top:hover{
    background-color: rgb(218, 218, 218);
}
.keep-on-top:active{
    background-color: rgb(202, 202, 202);
}
.time-pic{
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center; 
    height:35px;
    width: 35px;
    float: right;
    background-color: rgb(237, 237, 237); 
    text-align: center;  
}
.time-pic:hover{
    background-color: rgb(218, 218, 218);
}
.time-pic:active{
    background-color: rgb(202, 202, 202);
}
.empty-span-just-for-width{
    display:none;
}
#memory-icon{
    display:none;
}
#history-icon{
    display:none;
}
#his-message{
    display:none;
}
.responsive-block{
    position: relative;
    background-color: rgb(237, 237, 237);
    width: 100%;
    height:88.7%;
    max-height: 100%;
}
.third-block{
    position: relative;
    height: 30%;
    width: 100%;
    background-color: rgb(237, 237, 237);
}
  #input_show{
    height: 20%;
    text-align: right;
    width: 65%;
}
input[type=number] {
    padding-right: 5px;
    border: none;
    width: 95%;
    float: right;
    height: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: right;
    cursor: default;
    background-color: rgb(237, 237, 237);
    font: bold;
}
::-webkit-input-placeholder { 
    color: black;
    font: bold;
  }
input:focus{
    outline: none;
  }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
   margin: 0; 
}
.fourth-block{
    height: 6%;
    width: 100%;
    background-color: rgb(237, 237, 237);
}
.memicon-gray{
    display:inline-flex;
    justify-content: center;
    align-items: center; 
    cursor: default;
    color: darkgrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    text-align: center;
    height: 100%;
    width:15%;
    background-color: rgb(237, 237, 237);
}
.memicon-black{
    display:inline-flex;
    justify-content: center;
    align-items: center; 
    cursor: default;
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    text-align: center;
    height:100%;
    width: 15%;
    background-color: rgb(237, 237, 237);
}
.memicon-black:hover{
background-color: rgb(218, 218, 218);
}
.memicon-black:active{
    background-color: rgb(202, 202, 202);
}
#memicon-minus{
    float: right;
    color: darkgrey;
}
.fifth-block{
    position: relative;
    display: table;
    position: relative;
    width: 100%;
    height: 64%;
    background-color: rgb(237, 237, 237);
    max-height: 100%;
    min-height: 60%;
} 
.buttons-block{
    display: relative;
    width: 100%;
    height: 100%;
    max-height: 100%;
    min-height: 60%;
}
.buttons{
    float:left;
    height: 16.9%;
    width:24.5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: rgb(244, 244, 244);
    border: 1px solid rgb(237, 237, 237);
    max-height: 100%;
}
.buttons:hover{
    background-color: rgb(218, 218, 218);
}
.buttons:active{
    background-color: rgb(202, 202, 202);
}
.num-buttons{
    height: 16.9%;
    width: 24.5%;
    float: left;
    text-align: center;
    background-color: rgb(251, 251, 251);
    border: 1px solid rgb(237, 237, 237);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    max-height: 100%;
    font-size:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.num-buttons:hover{
    background-color: rgb(218, 218, 218);
}
.num-buttons:active{
    background-color: rgb(202, 202, 202);
}
#blue-button1:hover{
    background-color: rgb(26,134, 219);
color: antiquewhite;
}
#blue-button1:active{
    background-color: rgb(176, 220, 255);
    color: aliceblue;
}
#blue-button2:hover{
    background-color: rgb(26,134, 219);
color: antiquewhite;
}
#blue-button2:active{
    background-color: rgb(176, 220, 255);
    color: aliceblue;
}
#blue-button3:hover{
    background-color: rgb(26,134, 219);
color: antiquewhite;
}
#blue-button3:active{
    background-color: rgb(176, 220, 255);
    color: aliceblue;
}
#blue-button4:hover{
    background-color: rgb(26,134, 219);
color: antiquewhite;
}
#blue-button4:active{
    background-color: rgb(176, 220, 255);
    color: aliceblue;
}
#blue-button5:hover{
    background-color: rgb(26,134, 219);
color: antiquewhite;
}
#blue-button5:active{
    background-color: rgb(176, 220, 255);
    color: aliceblue;
}
#new-cell{
    display: none;
}
/*the biggest shape of calculator is below*/
@media 
only screen and (min-width: 1060px),
(min-device-width: 1060px) and (max-device-width: 1224px)  {
.time-pic{
    display: none;
  } 
.main-block{
    height:100%;
  }
.Responsive-block{
    height: 88%;
  }
.first-block{
    width: 100%;
    height: 27px;
}
.second-block{
    width: 100%;
    height:  35px;
}
.menu-icon{
    height: 35px;
    width: 35px;
}
.standard-sign{
    width:120px;
    padding-left: 15px;
    justify-content: left;
    align-items: left;
}
.keep-on-top{
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 35px;
    width: 35px;
    float: left;
    background-color: rgb(237, 237, 237); 
    text-align: center;
}
.empty-span-just-for-width{
    display:inline-flex;
    width:55%;
}
#history-icon{
    display:inline-flex;
    width:5%;
    font-size: 15px;
    font-weight:bold; 
    border-bottom: 3px solid rgb(0, 120, 215);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
#memory-icon{
    display:inline-flex;
    width:8%;
    font-size: 15px;
    font-weight:bold; 
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#his-message{
    display:inline-flex;
    width:25%;
    height: 35%;
    font-size: 15px;
    font-weight:bold; 
    justify-content: left;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    
.third-block{
    width: 100%;
    height: 30%;
}
  #input_show{
    height: 20%;
    text-align: right;
    width: 65%;
}
input[type=number] {
    padding-right: 25px;
    border: none;
    width: 68%;
    float: left;
    height: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 65px;
    text-align: right;
    cursor: default;
    background-color: rgb(237, 237, 237);
    font: bold;
}
           
::-webkit-input-placeholder { 
    color: black;
    font: bold;
}
input:focus{
    outline: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
.fourth-block{
    width: 70%;
    height:7%;
}
.fifth-block{
    width: 70%;
     height: 64%;
}
.buttons-block{
     width:100%;
    height: 100%;
}
#memsing_minus{
    display: none;
}
.memicon-gray{ 
    width:80px;
    height: 100%; 
}
.memicon-black{
    width:80px;
    height: 100%;
}
#memicon-minus{
    display: none;
}     
.buttons-block{
    width:100%;
    height:100%;
    display:flex;
    flex-flow: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    max-height: 100%;
}
#cell1{
    order: 1;
}
#cell2{
    order: 6;
}
#cell3{
    order: 11;
}
#cell4{
    order:21;
}
#cell5{
    order:2;
}
#cell6{
    order:3;
}
#cell7{
    order:4;
}
#cell8{
    order:22;
}
#cell9{
    order:24;
}
#num1{
    order:7;
}
#num2{
    order:8;
}
#num3{
    order:9;
}
#num4{
    order:12;
}
#num5{
    order:13;
}
#num6{
    order:14;
}
#new-cell{
    display: flex;
    justify-content: center;
    align-items: center;
    order:16;
}
#num7{
    order:17;
}
#num8{
    order:18;
}
#num9{
    order:19;
}
#num10{
    order:23;
}
#blue-button1{
    order:5;
    font-size: 25px;
}
#blue-button2{
    order:10;
    font-size: 25px;
}
#blue-button3{
    order:15;
    font-size: 25px;
}
#blue-button4{
    order:20;
    font-size: 25px;
}
#blue-button5{
    order:25;
    font-size: 25px;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19.70%;
    height: 20%;
    max-height: 100%;
    font-size: 25px;
    /* font: bold; */
   
}
.num-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19.70%;
    height: 20%;
    max-height: 100%;
    font-size: 25px;
}

}
/*the smallest shape of calculator*/
@media 
only screen and (max-width: 404px),(min-device-width: 1px) and (max-device-width: 404px) 
  {
    .main-block{
        width: 320px;
        height: 380px; 
    }   
    input[type=number]{
        padding-right: 15px;
        padding-top: 15px;
        font-size: 40px;
    }
    .first-block{
        height:30px;
        width: 320px;
    }
    .cal-name{
        padding-top: 10px;
        height: 20px;
    }
    .second-block{
        height:45px;
        width: 320px;
    }
    .keep-on-top{
        cursor: default;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        float: left;
        background-color: rgb(237, 237, 237); 
        text-align: center;
    }
    .menu-icon{
        height: 40px;
        width: 40px;
    }
    .standard-sign{
        padding-left: 10px;
        height: 35px;
    }
    .time-pic{
        height: 40px;
        width: 40px;
    }
    .empty-span-just-for-width{
        display:none;
    }
    .hismem-icons{
        display:none;
    }
    #history-message{
        display:none;
    }
    .responsive-block{
        height: 340px;
        width: 320px;
    }
    .third-block{
        height: 83px;
    }
    .fourth-block{
        height: 22px;
        width:95%;
        margin:5px;
    }
    .memicon-gray{
        padding-top: 8px;
        width: 43px;
        margin:1px;
    }
    .memicon-black{
        padding-top: 8px;
        width: 43px;
        margin:1px;
    }
    #memicon-minus{
        color: darkgrey;
    }
    .fifth-block{
        position: relative;
        width:320px;
        height: 100px;
        background-color: rgb(237, 237, 237);
    }
    .buttons-block{
        width: 320px;
        height: 100px;
    }
    .num-buttons{
        display:inline-flex;
        justify-content: center;
        align-items: center;
        width: 78px;
        height:49px;
        float: left;
        
        font-size: 18px;
        text-align: center;
        background-color: rgb(251, 251, 251);
        border: 1px solid rgb(237, 237, 237);
    }
    .buttons{
        display:inline-flex;
        
        float:left;
        width: 78px;
        height:49px;
        
        text-align: center;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(244, 244, 244);
        border: 1px solid rgb(237, 237, 237);
        justify-content: center;
        align-items: center;
    }
    }
    /*normal size of calculator between the biggest shape and  the smallest shape when time shape disappear*/
    @media 
    only screen and (min-width: 650px) and (max-width:1060px),(min-device-width: 650px) and (max-device-width: 1060px)
      {

    .time-pic{
            display: none;
        }
    .first-block{
            width: 100%;
            height:27px;
        }
    .second-block{
            display:flex;
            flex-flow: row;
            width: 100%;
            height:35px;
        }
    .standard-sign{
            width:110px;
            padding-left: 15px;
            justify-content: left;
            align-items: left;
        }
        .empty-span-just-for-width{
            display:inline-flex;
            width:51%;
        }
        .keep-on-top{
            cursor: default;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 35px;
            width: 35px;
            float: right;
            background-color: rgb(237, 237, 237); 
            text-align: center;
        }
    #history-icon{
            display:inline-flex;
            width:7%;
            font-size: 15px;
            font-weight:bold; 
            border-bottom: 3px solid rgb(0, 120, 215);
            text-align: center;
            justify-content: center;
            align-items: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
    #memory-icon{
            display:inline-flex;
            width:12%;
            font-size: 15px;
            font-weight:bold; 
            justify-content: center;
            align-items: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
    #his-message{
            display:inline-flex;
            width:25%;
            height: 35%;
            font-size: 15px;
            font-weight:bold; 
            justify-content: left;
            align-items: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .third-block{
            width: 100%;
            height: 30%;
    }
    #input_show{
    height: 20%;
    text-align: right;
    width: 65%;
}
input[type=number] {
            padding-right: 5px;
            border: none;
            width: 70%;
            float: left;
            height: 50%;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 50px;
            text-align: right;
            cursor: default;
            background-color: rgb(237, 237, 237);
            font: bold;
    }
           
    ::-webkit-input-placeholder { 
            color: black;
            font: bold;
    }
    input:focus{
            outline: none;
             }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
            -webkit-appearance: none; 
            margin: 0; 
    }
    .fourth-block{
            width: 70%;
            height:7%;
    }
    .responsive-block{
            height:91.5%;
            max-height: 100%;
    }
    .fifth-block{
            width: 70%;
            height: 63%;
            max-height: 100%;
    }
    .buttons-block{
            width:100%;
            height: 100%;
            max-height: 100%;
    }
    .num-buttons{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24.5%;
            height: 15.9%;
            max-height: 100%;
            font-size: 130%;
    }
    .buttons{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24.5%;
            height: 15.9%;
            font-size: 130%;
            max-height: 100%;  
    }
}