
html, body{
    width:99%;
    height: 100%;
    max-height: 100%;
}

    
    

.wholeCalculator{
    position: relative;
    background-color: rgb(237, 237, 237);
    width: 100%;
    height: 100%;
    /* border: 1px solid rgb(24, 131, 215); */
    max-height: 100%;
   
}
.first_Block{
    position: relative;
    height: 27px;
    width: 100%;
    background-color: rgb(237, 237, 237);
 
}
.calName{
padding-top: 5px;
padding-left: 10px;
    cursor: default;
display: inline-block; 
height: 10px;
width:30%;
float:left;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 12px;
background-color: rgb(237, 237, 237);

}
.top_Sings{
 
    cursor: default;
    float:right;
    display:inline-flex;
    justify-content: center;
  align-items: center;
height: 27px;
width: 45px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 18px;
text-align: center;
background-color: rgb(237, 237, 237);
}
.top_Sings:hover{
    background-color: rgb(218, 218, 218);
}
.top_Sings:active{
    background-color: rgb(202, 202, 202);
}
#close_Button:hover{
    background-color: rgb(232, 17, 35);
}
#close_Button:active{
    background-color: rgb(241, 112, 122);
    color: azure;
}
.second_Block{
    position: relative;
    height:27px;
    width: 100%;
    background-color: rgb(237, 237, 237);
}
.menu_Sign{
    cursor: default;
    float:left;
    display: flex;
  justify-content: center;
  align-items: center;
height: 27px;
width: 25px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
background-color: rgb(237, 237, 237);

}

.menu_Sign:hover{
    background-color: rgb(218, 218, 218);
}
.menu_Sign:active{
    background-color: rgb(202, 202, 202);
}
.standard_Sign{
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
  
height: 27px;

width: 100px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 20px;
float:left;
background-color: rgb(237, 237, 237);
}
.time_Sign{
    cursor: default;
    display: flex;
  justify-content: center;
  align-items: center; 
    height: 27px;
    width: 30px;
    float: right;
    background-color: rgb(237, 237, 237);
   
    text-align: center;
    
}
.time_Sign:hover{
    background-color: rgb(218, 218, 218);
}
.time_Sign:active{
    background-color: rgb(202, 202, 202);
}
.Memory_icon{
    display:none;
}
.History_icon{display:none;}
.His_message{display:none;}
.part_Responsive{
    position: relative;
    background-color: rgb(237, 237, 237);
    width: 100%;
    height:88.7%;
    max-height: 100%;
    /* border: 1px solid rgb(24, 131, 215); */
}

.third_Block{
    position: relative;
    height: 30%;
    width: 100%;
    
    background-color: rgb(237, 237, 237);
}
input[type=number] {
 padding-right: 5px;
    border: none;
    width: 95%;
    float: right;
    height: 70%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    text-align: right;
    cursor: default;
    background-color: rgb(237, 237, 237);
    font: bold;
}

  ::-webkit-input-placeholder { 
    color: black;
    font: bold;
  }
  input:focus{
      outline: none;
  }
  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.fourth_Block{
    height: 6%;
    width: 100%;
    background-color: rgb(237, 237, 237);
}
.memSign_Gray{
    display:inline-flex;
    justify-content: center;
    align-items: center; 

    cursor: default;
color: darkgrey;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 12px;
text-align: center;

height: 100%;
width:15%;

background-color: rgb(237, 237, 237);
}
.memSign_Black{
    display:inline-flex;
  justify-content: center;
  align-items: center; 
   
    cursor: default;
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    text-align: center;
   
    height:100%;
    width: 15%;
   
    background-color: rgb(237, 237, 237);
}
.memSign_Black:hover{
background-color: rgb(218, 218, 218);
}
.memSign_Black:active{
    background-color: rgb(202, 202, 202);
}
#memSing_minus{
    float: right;
}
.fifth_Block{
    position: relative;
    display: table;
    position: relative;
    width: 100%;
    height: 64%;
    background-color: rgb(237, 237, 237);
    max-height: 100%;
    min-height: 60%;
}

  
.Buttons_Block{
    display: relative;
    width: 100%;
    height: 100%;
    max-height: 100%;
    min-height: 60%;
}

.Buttons{
    float:left;
    height: 16.9%;
    width:24.5%;
    text-align: center;
    display: flex;
  justify-content: center;
  align-items: center; 
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
font-size: 20px;
    background-color: rgb(244, 244, 244);
 border: 1px solid rgb(237, 237, 237);
 max-height: 100%;
}
.Buttons:hover{
    background-color: rgb(218, 218, 218);
}
.Buttons:active{
    background-color: rgb(202, 202, 202);
}
.num_Buttons{
    height: 16.9%;
    width: 24.5%;
    float: left;
    text-align: center;
    /* padding-top: 5%; */
    background-color: rgb(251, 251, 251);
    border: 1px solid rgb(237, 237, 237);
    display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  max-height: 100%;
  font-size:20px;
}

.num_Buttons:hover{
    background-color: rgb(218, 218, 218);
}
.num_Buttons:active{
    background-color: rgb(202, 202, 202);
}
#blue_Button1:hover{
    background-color: rgb(26,134, 219);
color: antiquewhite;
}
#blue_Button1:active{
    background-color: rgb(176, 220, 255);
    color: aliceblue;
}
#blue_Button2:hover{
    background-color: rgb(26,134, 219);
color: antiquewhite;
}
#blue_Button2:active{
    background-color: rgb(176, 220, 255);
    color: aliceblue;
}
#blue_Button3:hover{
    background-color: rgb(26,134, 219);
color: antiquewhite;
}
#blue_Button3:active{
    background-color: rgb(176, 220, 255);
    color: aliceblue;
}
#blue_Button4:hover{
    background-color: rgb(26,134, 219);
color: antiquewhite;
}
#blue_Button4:active{
    background-color: rgb(176, 220, 255);
    color: aliceblue;
}
#blue_Button5:hover{
    background-color: rgb(26,134, 219);
color: antiquewhite;
}
#blue_Button5:active{
    background-color: rgb(176, 220, 255);
    color: aliceblue;
}
#new_Cell{
    display: none;
}
/*the biggest shape of calculator is below*/
@media 
only screen and (min-width: 1060px),
(min-device-width: 1060px) and (max-device-width: 1224px)  {
  .time_Sign{
      display: none;
  } 
  .wholeCalculator{
      height:100%;
  }
  .part_Responsive{
      height: 88%;
  }
.first_Block{
    width: 100%;
    height: 27px;
}
.second_Block{
    width: 100%;
    height:  27px;
}
.standard_Sign{
    width:66%;
    padding-left: 2%;
    justify-content: left;
    align-items: left;
}
        .History_icon{
          display:inline-flex;
          width:5%;
          font-size: 15px;
                font-weight:bold; 
                border-bottom: 3px solid rgb(0, 120, 215);
                text-align: center;
                justify-content: center;
                align-items: center;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
      .Memory_icon{
        display:inline-flex;
        width:8%;
        font-size: 15px;
              font-weight:bold; 
              justify-content: center;
                align-items: center;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
    .His_message{
        display:inline-flex;
        width:25%;
        height: 35%;
        font-size: 15px;
              font-weight:bold; 
              justify-content: left;
                align-items: center;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
        .third_Block{
            width: 100%;
            height: 30%;
        }
        input[type=number] {
            padding-right: 25px;
               border: none;
               width: 68%;
               float: left;
               height: 70%;
               font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
               font-size: 70px;
               text-align: right;
               cursor: default;
               background-color: rgb(237, 237, 237);
               font: bold;
           }
           
             ::-webkit-input-placeholder { 
               color: black;
               font: bold;
             }
             input:focus{
                 outline: none;
             }
             input[type=number]::-webkit-inner-spin-button, 
           input[type=number]::-webkit-outer-spin-button { 
             -webkit-appearance: none; 
             margin: 0; 
           }
        .fourth_Block{
            width: 70%;
            height:7%;
        }
        .fifth_Block{
            width: 70%;
            height: 64%;}
        .Buttons_Block{
                width:100%;
                height: 100%;
         }



	
	#memSing_minus{
        display: none;
    }
    .memSign_Gray{
        
        width:80px;
      
        height: 100%;
       
    }
    .memSign_Black{
        width:80px;
        height: 100%;
    }
    #memSing_minus{
        display: none;
    }     
   .Buttons_Block{
   width:100%;
   height:100%;
display:flex;
flex-flow: row;
flex-wrap: wrap;
flex-flow: row wrap;
max-height: 100%;
   }
#cell1{
order: 1;
}
#cell2{
    order: 6;
}
#cell3{
    order: 11;
}
#cell4{
    order:21;
}
#cell5{
    order:2;
}
#cell6{
    order:3;
}
#cell7{
    order:4;
}
#cell8{
    order:22;
}
#cell9{
    order:24;
}
#num1{
    order:7;
}
#num2{
    order:8;
}
#num3{
    order:9;
}
#num4{
    order:12;
}
#num5{
    order:13;
}
#num6{
    order:14;
}
#new_Cell{
    display: flex;
  justify-content: center;
  align-items: center;
    order:16;
}
#num7{
    order:17;
}
#num8{
    order:18;
}
#num9{
    order:19;
}
#num10{
    order:23;
}
#blue_Button1{
    order:5;
    font-size: 25px;
}
#blue_Button2{
    order:10;
    font-size: 25px;
}
#blue_Button3{
    order:15;
    font-size: 25px;
}
#blue_Button4{
    order:20;
    font-size: 25px;
}
#blue_Button5{
    order:25;
    font-size: 25px;
}
.Buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19.70%;
    height: 20%;
    max-height: 100%;
    font-size: 25px;
    font: bold;
   
}
.num_Buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19.70%;
    height: 20%;
    max-height: 100%;
    font-size: 25px;
}

}
/*the smallest shape of calculator*/
@media 
only screen and (max-width: 404px),(min-device-width: 1px) and (max-device-width: 404px) 
  {
    .wholeCalculator{
        width: 320px;
      height: 380px;
  
      }
      
        input[type=number]{
            padding-right: 4px;
        font-size: 55px;
    }
    .first_Block{
        height:30px;
        width: 320px;
    }
    .second_Block{
        height:30px;
        width: 320px;
    }
    .part_HisMem{
        display:none;
    }
    .HisMem_Icons{
        display:none;
    }
    .History_message{
        display:none;
    }
    .part_Responsive{
        height: 340px;
        width: 320px;
    }
    .fourth_Block{
        height: 22px;
        width:95%;
        margin:5px;
    }
    .memSign_Gray{
        padding-top: 8px;
        width: 43px;
        margin:1px;
    }
    .memSign_Black{
        padding-top: 8px;
        width: 43px;
        margin:1px;
    }
    .fifth_Block{
        position: relative;
        width:320px;
        height: 100px;
        background-color: rgb(237, 237, 237);
    }
    .Buttons_Block{
        width: 320px;
        height: 100px;
    }
    .num_Buttons{
        width: 78px;
        height:35px;
        float: left;
        padding-top: 12.5px;
        font-size: 20px;
        text-align: center;
        background-color: rgb(251, 251, 251);
        border: 1px solid rgb(237, 237, 237);
        
    }
    .Buttons{
        float:left;
        width: 78px;
        height:35px;
        padding-top: 12.5px;
        text-align: center;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(244, 244, 244);
     border: 1px solid rgb(237, 237, 237);
    }
    }
    /*normal size of calculator between the biggest shape and  the smallest shape when time shape disappear*/
    @media 
    only screen and (min-width: 650px) and (max-width:1060px),(min-device-width: 650px) and (max-device-width: 1060px)
      {

        .time_Sign{
            display: none;
        }
        .first_Block{
            width: 100%;
            height:27px;
        }
        .second_Block{
            display:flex;
            flex-flow: row;
            width: 100%;
            height:27px;
        }
.standard_Sign{
    width:66%;
    padding-left: 2%;
    justify-content: left;
    align-items: left;
}
        .History_icon{
          display:inline-flex;
          width:7%;
          font-size: 15px;
                font-weight:bold; 
                border-bottom: 3px solid rgb(0, 120, 215);
                text-align: center;
                justify-content: center;
                align-items: center;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
      .Memory_icon{
        display:inline-flex;
        width:12%;
        font-size: 15px;
              font-weight:bold; 
              justify-content: center;
                align-items: center;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
    .His_message{
        display:inline-flex;
        width:25%;
        height: 35%;
        font-size: 15px;
              font-weight:bold; 
              justify-content: left;
                align-items: center;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
        .third_Block{
            width: 100%;
            height: 30%;
        }
        input[type=number] {
            padding-right: 5px;
               border: none;
               width: 70%;
               float: left;
               height: 70%;
               font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
               font-size: 70px;
               text-align: right;
               cursor: default;
               background-color: rgb(237, 237, 237);
               font: bold;
           }
           
             ::-webkit-input-placeholder { 
               color: black;
               font: bold;
             }
             input:focus{
                 outline: none;
             }
             input[type=number]::-webkit-inner-spin-button, 
           input[type=number]::-webkit-outer-spin-button { 
             -webkit-appearance: none; 
             margin: 0; 
           }
        .fourth_Block{
            width: 70%;
            height:7%;
        }
        .part_Responsive{
            height:91.5%;
            max-height: 100%;
        }
        .fifth_Block{
            width: 70%;
            height: 63%;
        
        max-height: 100%;}
        .Buttons_Block{
                width:100%;
                height: 100%;
                max-height: 100%;
         }
        .num_Buttons{
            display: flex;
            justify-content: center;
            align-items: center;
                width: 24.5%;
                height: 15.9%;
                max-height: 100%;
            
                font-size: 130%;
            }
            .Buttons{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 24.5%;
                height: 15.9%;
                font-size: 130%;
                max-height: 100%;
               
            }
    }