
html, body{
    height:100%;
    width:99%;
    
}
.wholeCalculator{
    position: relative;
    background-color: rgb(237, 237, 237);
    width: 100%;
    height: 100%;
    border: 1px solid rgb(24, 131, 215);
}
.firstBlock{
    padding-left: 0.5%;
    position: relative;
    height: 3.8%;
    width: 99.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    background-color: rgb(237, 237, 237);
    cursor: default;
}
.topSigns{
 
    cursor: default;
    float:right;
    display: inline-block; 
height: 100%;
width: 45px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 22px;
text-align: center;
background-color: rgb(237, 237, 237);
}
.topSigns:hover{
    background-color: rgb(218, 218, 218);
}
.topSigns:active{
    background-color: rgb(202, 202, 202);
}

#closeButton:hover{
    background-color: rgb(232, 17, 35);

    }
#closeButton:active{
    background-color: rgb(241, 112, 122);
    }
.topSignsImg{
    height: 15px;
    width: 14px;
    padding-bottom: 5px;
}
.secondBlock{
    height:5%;
    width: 100%;
    background-color: rgb(237, 237, 237);
}
.menuSign{
width: 5%;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: rgb(237, 237, 237);

}
.menuSign:hover{
    background-color: rgb(218, 218, 218);
}
.menuSign:active{
    background-color: rgb(202, 202, 202);
} 
#menuPic{
    height: 50%;
    width: 20px;
    margin-top: 4px;
    margin-left: 4px;
}
.standardSign{
   
cursor: default;
height: 100%;
width: 15%;
padding-left: 3%;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 17px;

background-color: rgb(237, 237, 237);
}
.timeShape{
   
    cursor: default;
    height: 100%;
    width: 3%;
    background-color: rgb(237, 237, 237);
    float:right;
}
.timeShape:hover{
    background-color: rgb(218, 218, 218);
}
.timeShape:active{
    background-color: rgb(202, 202, 202);
}
#timePic{
    height: 60%;
    width: 50%;
    margin-top: 23%;
    margin-left: 25%;
    
}
.thirdBlock{
    position: relative;
    height: 18%;
    width: 100%;
    background-color: rgb(237, 237, 237);
}
input[type=number] {
 padding-right: 1%;
    border: none;
    width: 95%;
    float: right;
    height: 70%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: right;
    cursor: default;
    background-color: rgb(237, 237, 237);
    font: bold;
}

  ::-webkit-input-placeholder { 
    color: black;
    font: bold;
  }
  input:focus{
      outline: none;
  }
  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.fourthBlock{
    height: 7%;
    width: 100%;
    background-color: rgb(237, 237, 237);
}
.memPartGray{

padding-top: 2%;
cursor: default;
color: darkgrey;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 12px;
text-align: center;
display: inline-block; 
height: 100%;
width:8%;

background-color: rgb(237, 237, 237);
}
.memPartBlack{
    padding-top: 2%;
    cursor: default;
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    text-align: center;
    display: inline-block; 
    height:100%;
    width: 8%;
   
    background-color: rgb(237, 237, 237);
}
.memPartBlack:hover{
background-color: rgb(218, 218, 218);
}
.memPartBlack:active{
    background-color: rgb(202, 202, 202);
}
#memMinus{
    display:none;
}
.fifthBlock{
    display: table;
    position: relative;
    width: 100%;
    height:66%;
    background-color: rgb(237, 237, 237);
}
.ButtomsBlock{
    overflow: auto;
    position: relative;
    width:100%;
    height: 100%;
    background-color: rgb(237, 237, 237);
}
.ButtomsBlock tr, td {
    cursor: default;
    position: relative;
    width: 25%;
    height: 15%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: rgb(244, 244, 244);
  }
  .ButtomsBlock td:hover{
      background-color: rgb(218, 218, 218);
  }
  .ButtomsBlock td:active{
      background-color: rgb(202, 202, 202);
  }
  .numButtons{
      background-color: rgb(251, 251, 251);
  }
.mathOperators:hover{
background-color: rgb(26,134, 219);
color: antiquewhite;
}
.mathOperators:active{
    background-color: rgb(176, 220, 255);
    color: aliceblue;
}
.newButtonsBlock{
    display:none;
}
/*when our calculator is in the biggest shape*/
 @media 
only screen and (min-width: 1060px),
(min-device-width: 1060px) and (max-device-width: 1224px)  {
   
 
    .ButtomsBlock {
        display: none;
        
    }
    .newButtonsBlock{
       
        display: table;
        position: relative;
        width:100%;
        height: 100%;
        background-color: rgb(237, 237, 237);

    }
    .newButtonsBlock tr, td {
        cursor: default;
        position: relative;
        width: 20%;
        height: 20%;
        font-family: 'Segoe UI', Tahoma,  Verdana, sans-serif;
        font-size: 30px;
        text-align: center;
        background-color: rgb(244, 244, 244);
      }
     .newButtonsBlock td:hover{
          background-color: rgb(218, 218, 218);
      }
      .newButtonsBlock td:active{
          background-color: rgb(202, 202, 202);
      }
      
   
      #newMathOperators1:hover  {
          
        background-color: rgb(26,134, 219);
        color: antiquewhite;
    }
    #newMathOperators1:active  {
        background-color: rgb(176, 220, 255);
        color: aliceblue;
    }
    #newMathOperators2:hover  {
        background-color: rgb(26,134, 219);
        color: antiquewhite;
    }
    #newMathOperators2:active  {
        background-color: rgb(176, 220, 255);
        color: aliceblue;
    } #newMathOperators3:hover  {
        background-color: rgb(26,134, 219);
        color: antiquewhite;
    }
    #newMathOperators3:active  {
        background-color: rgb(176, 220, 255);
        color: aliceblue;
    } 
    #newMathOperators4:hover  {
        background-color: rgb(26,134, 219);
        color: antiquewhite;
    }
    #newMathOperators4:active  {
        background-color: rgb(176, 220, 255);
        color: aliceblue;
    }
     #newMathOperators5:hover  {
        background-color: rgb(26,134, 219);
        color: antiquewhite;
    }
    #newMathOperators5:active  {
        background-color: rgb(176, 220, 255);
        color: aliceblue;
    }
   
    
}

    